@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Tenor+Sans&display=swap');

.chef-container {
    display: flex;
    width: 100%;
    gap: 30px;
}

.chef-container img {
    width: 200px;
    height: 250px;
    border-radius: 50px;
    object-fit: cover;
    box-shadow: 
        0 4px 6px rgba(0, 0, 0, 0.07),
        0 10px 20px rgba(0, 0, 0, 0.1);
}

.details {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}

.chef-container h5 {
    color: #ea4e35;
    font-size: 14px;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
}

.chef-container h3 {
    font-family: sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
}