@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Tenor+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #FDFBF7;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  background-color: #b2b2b2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav a {
  text-decoration: none;
  color: #545454;
  transition: color 0.3s ease;
}

nav > a span {
  display: flex;
  align-items: center;
}

nav > a span img {
  height: 100px;
  width: 350px;
  object-fit: cover;
}

nav > div {
  display: flex;
  gap: 2rem;
  align-items: center;
}

nav > div a {
  font-size: 1rem;
  font-weight: 500;
  position: relative;
}

nav > div a:hover {
  color: #f26322;
}

nav > div a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #f26322;
  transition: width 0.3s ease;
}

nav > div a:hover::after {
  width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    padding: 1rem;
  }

  nav > div {
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }
}